.h1{
  text-align: center;
  display: inline;
}

.h1Container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo{
  vertical-align: bottom;
}
.h2{
  text-align: center;
}

.description{
  text-align: center;
}

.articleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

